@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">changing code directly on the main laine</h1>>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Welcome to the dummy website </a>.</p>
</div>
